
      <div class="row">
        <div class="col-md-6">
          <h5>Groups</h5>
          <ul class="list-group" *ngFor="let group of groups">
            <li class="list-group-item list-group-item-action">
              <div class="btn-group">
                  <label class="alert alert-primary" *ngIf="group.isMember"> Joined</label>
                  <button class="btn btn-success" *ngIf="!group.isMember" (click)="joinGroup(group)">Join</button>
                  <button class="list-group-item" (click)="selectGroup(group)">{{group.name}}</button>
              </div>
             
              </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="card" *ngIf="selectedGroup" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Send Message</h5>
              <h6 class="card-subtitle mb-2 text-muted">Group Name: {{selectedGroup.name}}</h6>
              <button class="btn btn-danger" (click)="leaveCurrentSelectedGroup()">Leave Group</button><br/><br/>
              <div class="messaging card-text">
                <div class="container" *ngFor="let msg of messageHistory">
                  <div class="alert alert-success" role="alert">
                    <strong>{{msg.playerName}}: </strong> {{msg.message}} <br/>
                    sent on : {{msg.sentOn  | date :'short'}}
                  </div>

                  
                </div>
                
                <div class="input_msg_write btn-group">
                  <input type="text" class="form-control write_msg" [value]="txtMessage"
                  (input)="txtMessage=$event.target.value" (keydown.enter)="sendMessage()" placeholder="Type a message" />
                  <button class="msg_send_btn" type="button"  (click)="sendMessage()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </div>
                
              </div>
          
            </div>
          </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Create New Group</div>
                <div class="card-body">
                    <form class="form-group" #createGroup = "ngForm" (ngSubmit) = "onClickSubmit(createGroup.value)" >
                        <input type = "text" class="form-control" name = "group" placeholder = "Group Name" ngModel>
                        <br/>
                        <input type = "submit" class="btn btn-primary" value = "Create">
                      </form>
                </div>
              </div>
        </div>
       
      </div>  
     


 
